@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>@foreach (var categoryItem in Model.CategoryList)
    {
    <a asp-page="/ProductCategory" asp-route-categoryid="@categoryItem.Id">@categoryItem.Name</a>
    }
</ul>